# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Logs
*.log
/home/dns/guardian.log

# Security & SSL (Penting: Jangan backup private key ke public repo)
/home/dns/web_gui/cert.pem
/home/dns/web_gui/key.pem

# OS
.DS_Store
Thumbs.db

# Git ignore itself
.git/
